## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Hermanus,ZA,66.00,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
1,4,Mount Isa,AU,75.20,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
2,6,Chuy,UY,70.02,overcast clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
3,7,Kapaa,US,73.40,broken clouds,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
4,9,Vung Tau,VN,79.34,scattered clouds,10.3460,107.0843,Green hotel

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Laguna"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Laguna"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Salinas"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Pacific Grove"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Half Moon Bay"]

In [10]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
295,592,Laguna,US,71.01,clear sky,38.421,-121.4238,Holiday Inn Express & Suites Elk Grove Central...

In [36]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0])

In [37]:
start

(38.421, -121.4238)

In [39]:
#import gmaps.datasets

In [40]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
laguna_bike_trip = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='BICYCLING')
fig.add_layer(laguna_bike_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,592,Laguna,US,71.01,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
1,637,Salinas,US,70.00,clear sky,36.6777,-121.6555,Laurel Inn & Conference Center
2,50,Pacific Grove,US,70.00,clear sky,36.6177,-121.9166,Lovers Point Inn
3,141,Half Moon Bay,US,68.00,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"

In [42]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [58]:
# 11a. Add a marker layer for each city to the map.
fig_layout = {'height': '800px'}
fig = gmaps.figure(center=(38.0, -121.0), zoom_level=7.3, layout=fig_layout)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='800px'))